@import "../../../app.module.scss";

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.3s ease-in-out;
  visibility: hidden;

  .wrapper {
    position: absolute;
    right: -100%;
    top: 0;
    height: 100vh;
    width: 300px;
    padding: 10px 30px 20px;
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    z-index: 5;
    @media (max-width: $container-small-max-width) {
      width: 80%;
      padding: 20px;
    }
  }
  &Open {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.3);

    .wrapper {
      visibility: visible;
      background-color: rgba(255, 255, 255, 1);
      right: 0;
    }
  }
}

.header {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  .close {
    position: relative;
    cursor: pointer;
    .bar {
      position: absolute;
      top: 20px;
      right: -10px;
      height: 2px;
      width: 24px;
      background-color: $medium-gray;
      @media (max-width: $container-small-max-width) {
        right: -10px;
      }
      &:first-child {
        transform: rotate(-45deg);
      }
      &:last-child {
        transform: rotate(45deg);
      }
    }
    &:hover {
      .bar {
        background-color: $brand-primary;
      }
    }
  }
}
