@import "../../../app.module.scss";

.macbook {
  background: url("../../../assets/img/macbook.png") no-repeat center center;
  background-size: contain;
  display: block;
  position: relative;
  height: 0;
  padding-bottom: 65.45%;

  .mask {
    position: absolute;
    top: 4%;
    left: 7.25%;
    right: 7%;
    bottom: 10%;
    overflow-y: auto;
    border-top-right-radius: 3%;
    border-top-left-radius: 3%;
    -webkit-overflow-scrolling: touch;
  }
}

.iphone {
  background: url("../../../assets/img/iphone.png") no-repeat center center;
  background-size: contain;
  display: block;
  position: relative;
  height: 0;
  padding-bottom: 145.45%;

  // /* Iphone 6/7/8 Plus portrait */
  @media (max-width: $container-small-max-width) {
    padding-bottom: 100%;
  }

  .mask {
    border-radius: 10%;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 1%;
    left: 16.25%;
    right: 16%;
    bottom: 1%;
    overflow-y: auto;

    // /* Iphone 6/7/8 Plus portrait */
    @media (max-width: $container-small-max-width) {
      left: 27.25%;
      right: 27%;
    }
  }
}
