@import "../../app.module.scss";

.macbookContainer {
  @media (max-width: $container-medium-max-width) {
    width: 75%;
    margin: 0 auto 30px;
  }
  @media (max-width: $container-small-max-width) {
    width: 100%;
  }
  article {
    /* Tablet portrait */
    @media (width: 768px) and (orientation: portrait) {
      height: 296px;
    }

    /* Iphone 6/7/8 Plus landscape */
    @media (max-width: 736px) and (orientation: landscape) {
      height: 276px;
    }

    /* Iphone 6/7/8 landscape */
    @media (max-width: 667px) and (orientation: landscape) {
      height: 252px;
    }

    /* Iphone 5/SE landscape */
    @media (max-width: 568px) and (orientation: landscape) {
      height: 302px;
    }
  }
}

.projectImages {
  margin-top: 40px;
  > * {
    &:first-child {
      /* Tablet Landscape */
      @media (max-width: 1024px) and (orientation: landscape) {
        height: 332px;
      }

      /* Tablet portrait */
      @media (min-width: 768px) and (orientation: portrait) {
        height: 268px;
      }

      /* Tablet large portrait */
      @media (min-width: 1024px) and (orientation: portrait) {
        height: 332px;
      }

      /* Iphone x landscape */
      @media (max-width: 812px) and (orientation: landscape) {
        height: 284px;
      }

      /* Iphone 6/7/8 Plus landscape */
      @media (max-width: 736px) and (orientation: landscape) {
        height: 250px;
      }

      /* Iphone 6/7/8 landscape */
      @media (max-width: 667px) and (orientation: landscape) {
        height: 226px;
      }

      /* Iphone 5/SE landscape */
      @media (max-width: 568px) and (orientation: landscape) {
        height: 304px;
      }

      @media (max-width: $container-small-max-width) {
        margin-bottom: 40px;
      }
    }
  }
}
