@import "../../app.module.scss";

.macbookContainer {
  @media (max-width: $container-medium-max-width) {
    width: 75%;
    margin: 0 auto 30px;
  }
  @media (max-width: $container-small-max-width) {
    width: 100%;
  }
  article {
    /* Tablet portrait */
    @media screen and (width: 768px) and (orientation: portrait) {
      height: 300px;
    }
  }
}

.projectImages {
  margin-top: 40px;
  > * {
    &:first-child {
      /* Tablet Landscape */
      @media print, screen and (max-width: 1024px) and (orientation: landscape) {
        height: 332px;
      }

      /* Tablet portrait */
      @media screen and (min-width: 768px) and (orientation: portrait) {
        height: 268px;
      }

      /* Tablet large portrait */
      @media screen and (min-width: 1024px) and (orientation: portrait) {
        height: 332px;
      }

      @media (max-width: $container-small-max-width) {
        margin-bottom: 40px;
      }
    }
  }
}
