@import "../../app.module.scss";

.macbookContainer {
  @media (max-width: $container-medium-max-width) {
    width: 75%;
    margin: 0 auto 30px;
  }
  @media (max-width: $container-small-max-width) {
    width: 100%;
  }
  article {
    @media (max-width: $container-medium-max-width) {
      height: 300px;
    }
    @media (max-width: $container-small-max-width) {
      height: 192px;
    }
  }
}

.projectImages {
  margin-top: 40px;
  > * {
    &:first-child {
      @media (max-width: $container-small-max-width) {
        margin-bottom: 40px;
      }
    }
  }
}
