@import "../../app.module.scss";

.header {
  position: fixed;
  z-index: 5;
  top: 0;
  width: 100%;
  padding: 5px 20px;
  background-color: white;
  border-bottom: 2px solid $light-gray;
  @media (max-width: $container-medium-max-width) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  position: relative;
  cursor: pointer;
  .bar {
    height: 2px;
    width: 20px;
    background-color: $medium-gray;
    display: block;
    &:nth-child(2) {
      margin: 4px 0;
    }
  }
  &:hover {
    .bar {
      background-color: $brand-primary;
    }
  }
}
