@import "../../app.module.scss";

.section {
  padding-left: 20px;
  padding-right: 20px;
  @media (min-width: $container-small-max-width) and (max-width: $container-medium-max-width) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.lightBack {
  background-color: white;
}

.darkerBack {
  background-color: $light-gray;
}

.darkestBack {
  background-color: $dark-gray;
  h2,
  p {
    color: white;
  }
}
