@import "../../app.module.scss";

.section {
  padding-left: 20px;
  padding-right: 20px;
}

.lightBack {
  background-color: white;
}

.darkerBack {
  background-color: $light-gray;
}

.darkestBack {
  background-color: $dark-gray;
  h2,
  p {
    color: white;
  }
}
