body {
  padding-top: 52px;
  font-family: $body-font-family;
  font-size: $font-size-global;
  color: $body-font-color;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: $container-max-width;
  margin: 0 auto;
}

.containerMedium {
  max-width: $container-medium-max-width;
  margin-left: auto;
  margin-right: auto;
}

.containerFullWidth {
  max-width: $container-max-width;
  margin-left: auto;
  margin-right: auto;
}

.gutterStandard {
  padding-top: 140px;
  padding-bottom: 140px;

  @media (max-width: $container-medium-max-width) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.columns {
  &2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media (max-width: $container-small-max-width) {
      flex-wrap: wrap;
    }
    > * {
      width: 48%;
      @media (max-width: $container-small-max-width) {
        width: 100%;
      }
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3 {
  font-weight: bold;
  font-size: $font-size-xlarge;
  line-height: 1.2;
  margin-bottom: 30px;
  @media (max-width: $container-medium-max-width) {
    font-size: $font-size-large;
  }
  @media (max-width: $container-small-max-width) {
    font-size: $font-size-medium;
  }
}

h3 {
  font-size: $font-size-small;
  font-weight: 400;
  margin-bottom: 5px;
}

.notice,
p {
  margin-bottom: 16px;
  font-size: $font-size-small;
  line-height: 1.6;
}

.notice {
  font-style: italic;
  font-size: $font-size-smaller;
}

a {
  color: $brand-primary;
  text-decoration: underline;
  font-weight: 700;
  &:hover {
    text-decoration: none;
  }
}
